* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
  }

@font-face {
    font-family: Pokemon;
    src: url(../font/Pokemon\ Solid.ttf);
}

.tabela_treinador caption {
    font-family: Pokemon;
    color: #ffcb05;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3a5da8;
    text-align: center;
}

.container {
    width: 1000px;
}

.tabela_treinador th {
    background-color: #8ea6d8;
    border-color: #3a5da8;

}

.tabela_treinador tr {
    background-color: #cfebfd;
}

.btn_edit {
    background-color: rgb(120, 170, 193);
}